html {
	margin: 0;
	padding: 0;
	}
body{
  background-color: brown;
}

h1 {
  text-align: center;
  font-family: arial;
  font-size: 80px;
   margin: 40px 0px  40px 0px
}
.wahha {
  background-color: white;
  text-align: center;
  font-family: arial;
  font-size: 25px;
  margin: 50px 240px 50px 240px;
  border: 1.0rem outset white;
  box-shadow: 0 0 0 1rem black;
}
.first {
  font-size:30px;
  margin: 50px 50px  70px 50px;
}
